#wrap {
	width: 1100px;
  padding: 50px;
  margin: 20px auto !important;
}

button.table_top_button {
  margin-bottom: 25px;
  display: block;
}

button {
  padding: 10px 15px;
}

header {
  margin: 0 0 20px;
	font-size: 150%;
}

header ul {
  margin-bottom: 20px;
}

header ul li {
	display: inline-block;
}

header ul li:first-child a {
	padding-left: 0;
}

header ul li a {
	padding: 0 10px;
}

#wrap > h1 {
	font-size: 180%;
	margin: 20px 0;
}

#wrap h2 {
	font-size: 150%;
	margin: 0 0 10px;
}

aside {
	display: inline-block;
	width: 200px;
	padding-right: 20px;
	border-right: 1px #aaa solid;
	margin-right: 20px;
	vertical-align: top;
	min-height: 200px;
}

div.right_block {
	display: inline-block;
}

div.edit {
	margin-bottom: 20px;
}

#choose_item {
	margin-bottom: 10px;
}

.hidden {
	display: none;
}

div.in {
	margin-top: 20px;
}

div.in img {
	width: 100px;
}

p.db_error {
	margin: 20px 0;
	color: red;
	font-weight: bold;
}

div.in h1.head_upload {
	font-weight: bold;
}

/*----table----*/

table {
   margin: 0 auto;
   text-align: center;
   border-collapse: collapse;
   font-family: Helvetica, Arial, sans-serif;
   width: 100%;
}

table td {
   text-align: left;
   padding: 10px 17px;
   vertical-align: middle;
   border: 1px #ddd solid;
   border-left: 0;
   border-right: 0;
}

table tr:hover {
   background: #eee;
}

table tr.head {
  background: transparent !important;
}

table tr.head td {
  font-weight: bold;
}

table td span.li {
  display: block;
  margin-bottom: 5px;
}

table button.delete, table button.edit {
  width: 25px;
  height: 25px;
  cursor: pointer;
  vertical-align: top;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
}

table button.edit {
  background: #56aed4 url("/images/edit.png") center center no-repeat;
  border: 1px #56aed4 solid;
}

table button.delete {
  background: #ff3a31 url("/images/delete.png") center center no-repeat;
  border: 1px #ff3a31 solid;
}

table button.edit:hover {
  background-color: #1C546C;
}

table button.delete:hover {
  background-color: #ae0e0e;
}

.hint {
  display: block;
  margin-top: 5px;
  font-size: 80%;
  font-style: italic;
}
