#map {
	width: 1024px;
	height: 528px;
	background: url('/images/map.png') -735px -10px;
	overflow: hidden;
	position: relative;
}

#overlay {
	position: absolute;
	z-index: 2;
	left: -1500px;
	top: -80px;
}

#map div.right {
	position: absolute;
	right: 0;
	background: white url('/images/strbg.jpg') top center repeat-x;
	border-left: 27px #5391F8 solid;
	margin-top: 27px;
	padding: 50px 7px 14px 7px;
	z-index: 5;
}

#map div.right div.top {
	padding: 0 15px 0 15px;
	border-bottom: 2px #d2d2d2 dashed;
}

#map div.right div.top h1 {
	margin-bottom: 40px;
	font-size: 180%;
	text-align: center;
}

#map div.right div.top label {
	display: block;
	margin-bottom: 10px;
	font-weight: normal;
	font-size: 120%;
}

#map div.right div.top input {
	display: block;
	margin-bottom: 40px;
	width: 277px;
	height: 24px;
	border: 1px #e1e1e1 solid;
	border-right: 3px #e1e1e1 solid;
	padding: 3px;
}

#map div.right div.top input:last-child {
	margin-bottom: 15px;
}

#map div.right div.top input.good {
	border-right: 3px #5abe4d solid;
}

#map div.right div.top input.wrong {
	border-right: 3px #f72930 solid;
}

#email {
	margin-bottom: 12px !important;
}

#map div.right div.buttons {
	text-align: center;
}

#map div.right div.buttons {
	margin-top: 16px;
}

#map div.right div.buttons button {
	width: 292px;
	height: 56px;
	border: 0;
	border-radius: 50px;
	color: white;
	font-size: 160%;
	margin-right: 0;
}

#express_send {
	background: #7bc34c;
}