
header img.top_logo {
	width: 277px;
	height: 122px;
	margin-left: 80px;
	margin-top: 35px;
	float: left;
}

@font-face {
    font-family: Daxline; /* Имя шрифта */
    src: url(/images/DaxlinePro-Regular.otf); /* Путь к файлу со шрифтом */
}

header div.right {
	text-align: right;
}

header div.right .top_info {
	margin-top: 45px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

header div.right .top_info a {
	display: block;
	text-decoration: none;
}

header div.right .top_info a.mailto {
	color: black;
	font-size: 240%;
	margin-bottom: 10px;
	margin-right: 7px;
	font-family: Daxline;
}

header div.right .top_info a.tel {
	color: #cc282b;
	font-size: 190%;
	margin-right: 7px;
	font-family: Daxline;
}

#top_send {
	width: 320px;
	height: 85px;
	font-size: 180%;
	background-image: url('/images/button.png');
	background-repeat: repeat-x;
	background-position: top center;
	border-radius: 10px;
	margin: 43px 15px 29px;
	display: inline-block;
	vertical-align: top;
}

header nav {
	margin-bottom: 5px;
}

header nav li {
	display: inline-block;
	position: relative;
}

header nav li a {
	background: #989998;
	color: white !important;
	border-right: 1px white solid;
	border-bottom: 1px white solid;
	display: block;
	min-height: 18px;
	padding: 8px 10px 8px;
	text-decoration: none;
	width: 180px;
	text-align: center;    
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

header nav li ul {
	display: none;
	position: absolute;
}

header nav li ul li {
	display: block;
	z-index: 10;
	border-left: 1px white solid;
	left: -1px;
}

header nav li:hover ul {
	display: block;
}

header nav li a:hover, header nav li a.active {
	background: #696a69;
}
