div.slider {
	height: 355px;
	position: relative;
}

#sliderCtrl {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	z-index: 2;
	position: absolute;
	bottom: 6px;
	left: 50%;
	margin-left: -56px;
}

#sliderCtrl li {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

#sliderCtrl a {
	cursor: pointer;
	text-indent: -9999px;
	display: block;
	width: 22px;
	height: 22px;
	margin: 0 3px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 17px;
}

#sliderCtrl li:nth-child(1) a {
	background-color: #c31c27;
}

#sliderCtrl li:nth-child(2) a {
	background-color: #7fbd51;
}

#sliderCtrl li:nth-child(3) a {
	background-color: #e27dbc;
}

#sliderCtrl li:nth-child(4) a {
	background-color: #5e6cbc;
}

#sliderCtrl a:hover,
#sliderCtrl a.active {
  	background-image: url('/images/pick.png');
}

section.menu_first {
	height: 410px;
	text-align: center;
}

section.menu_first ul li {
	display: inline-block;
	margin: 26px 32px 0;
	vertical-align: top;
}

section.menu_first ul li img {
	display: block;
	width: 235px;
	height: 140px;
	margin-bottom: 8px;
}

section.news {
	height: 385px;
	background: url('/images/newsbg.jpg');
}

section.news ul {
	text-align: center;
}

section.news {
	position: relative;
	overflow: hidden;
}

section.news .button_left {
	margin-top: 63px;
	left: -33px;
	position: absolute;
}

section.news .button_left, section.news .button_right {
	overflow: hidden;
}

section.news .button_left button {
	padding-left: 40px;
}

section.news .button_right button {
	padding-right: 40px;
}

section.news .button_left button, section.news .button_right button {
	width: 66px;
	height: 66px;
	border-radius: 66px;
	color: #783800;
	background: #ffbf5e;
	font-weight: bold;
	font-size: 150%;
}

section.news .button_left button.hidden, section.news .button_right button.hidden {
	display: none;
}

section.news .button_right {
	margin-top: 63px;
	position: absolute;
	right: -33px;
}

section.news ul li {
	display: inline-block;
	margin: 20px 40px 25px;
	width: 150px;
	text-align: left;
	vertical-align: top;
}

section.news ul li a {
	text-decoration: none;
	color: white;
}

section.news ul li article h1 {
	font-weight: bold;
	margin-bottom: 5px;
	text-align: center;
}

section.news ul li article div.text {
	text-align: justify;
}

section.news ul li article time {
	margin-top: 20px;
	display: block;
}

section.news ul li article img {
	display: block;
	width: 150px;
	height: 150px;
	border-radius: 150px;
	background: white;
	margin-bottom: 9px;
}

#go_news_button {
	background: #989998;
	font-weight: bold;
	width: 370px;
	height: 38px;
	border-radius: 20px;
	text-align: center;
	color: white;
	text-decoration: none;
	display: block;
	margin: 0 auto;
}

section.menu_second {
	background: white;
	text-align: center;
}

section.menu_second ul li {
	display: inline-block;
	margin: 65px 25px 0;
	width: 280px;
	vertical-align: top;
}

section.menu_second ul li article img {
	display: block;
	width: 210px;
	height: 210px;
	border-radius: 210px;
	border: 1px black solid;
	background: white;
	margin: 0 auto 20px;
	text-align: center;
}

section.menu_second ul li a {
	text-decoration: none;
	color: black;
}

section.menu_second ul li article h1 {
	font-size: 150%;
	margin-bottom: 20px;
	text-align: center;
}

section.news ul li article div.text {
	text-align: justify;
}