body {
    margin: 0 auto;
    font-family: Calibri, Helvetica, Verdana, Tahoma, sans-serif;
    background: #efefef;
}

#wrap {
    height: auto;
    margin: 0 auto;
    width: 1024px;
    background: #fff;
}

a {
    color: #007fe1;
    text-decoration: underline;
}

button {
    background: #37b0fa;
    padding: 10px 15px;
    font-size: 90%;
    cursor: pointer;
    color: white;
    border: 0;
}

div.wrap_inner {
    padding: 0 30px;
}