body {
    margin: 0 auto;
    font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif;
    background: #efefef;
}

#wrap {
    height: auto;
    margin: 0 auto;
    width: 1024px;
    background: #fff url('/images/bg.png') no-repeat;
}

a {
    color: #007fe1;
    text-decoration: underline;
}

a:hover, a.active {
    color: #ed2327;
}

button {
    background: #37b0fa;
    font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif;
    cursor: pointer;
    color: white;
    border: 0;
}

#nav_num {
  margin-top: 25px;
}

#nav_num a {
  margin: 5px;
}