#send_window {
	width: 886px;
}

#send_window div.error {
	margin: 25px 0 10px;
	color: red;
	font-size: 90%;
	font-style: italic;
}

#send_window div.main_send_block div.left {
	display: inline-block;
	margin-right: 55px;
	vertical-align: top;
}

#send_window div.main_send_block div.left {
	margin-left: 35px;
}

#send_window div.main_send_block div.left h1 {
	margin: 36px 0 0;
	font-size: 180%;
}

#send_window div.main_send_block div.left label {
	display: block;
	margin-bottom: 10px;
	font-weight: normal;
	font-size: 120%;
}

#send_window div.main_send_block div.left input {
	display: block;
	margin-bottom: 40px;
	width: 277px;
	height: 24px;
	border: 1px #e1e1e1 solid;
	border-right: 3px #e1e1e1 solid;
	padding: 3px;
}

#send_window div.main_send_block div.left input:last-child {
	margin-bottom: 15px;
}

#send_window div.main_send_block div.left input.good {
	border-right: 3px #5abe4d solid;
}

#send_window div.main_send_block div.left input.wrong {
	border-right: 3px #f72930 solid;
}

#send_window div.main_send_block div.right {
	margin-top: 25px;
	display: inline-block;
	width: 466px;
	vertical-align: top;
}

#send_window div.main_send_block div.right ul {
	text-align: center;
}

#send_window div.main_send_block div.right ul li {
	display: inline-block;
	min-width: 134px;
	padding: 4px 8px;
	font-size: 80%;
	border: 1px #c1c1c1 solid;
	text-align: center;
	margin-right: 3px;
	margin-bottom: 6px;
	cursor: pointer;
}

#send_window div.main_send_block div.right ul li.active, #send_window div.main_send_block div.right ul li:hover {
	background: #5392f7;
	color: white;
}

#send_window div.main_send_block div.right div.textarea {
	margin-top: 18px;
}

#send_window div.main_send_block div.right div.textarea label {
	display: block;
	text-align: center;
	font-weight: normal;
	margin-bottom: 10px;
	font-size: 120%;
}

#send_window div.main_send_block div.right div.textarea textarea {
	width: 442px;
	height: 214px;
	resize: none;
	padding: 3px 9px;
	margin-bottom: 15px;
	border: 1px #e1e1e1 solid;
}

#send_window div.main_send_block {
	border-bottom: 2px #d2d2d2 dashed;
}

#send_window div.buttons {
	margin: 18px 0;
	text-align: center;
}

#send_window div.buttons button {
	width: 292px;
	height: 56px;
	border: 0;
	border-radius: 50px;
	color: white;
	font-size: 160%;
}

#send_window div.buttons input {
	display:none;
}

#add_file {
	background: #aaaaaa;
}

#send_send {
	background: #7bc34c;
}

#send_window div.files_send_block table.attachments {
	width: 100%;
}

#send_window div.files_send_block table.attachments tr td {
	height: 30px;
	vertical-align: middle;
}

#send_window div.files_send_block table.attachments tr td.num {
	width: 88px;
	text-align: center;
	background: #424242;
	color: white;
}

#send_window div.files_send_block table.attachments tr td.name {
	background: #e4e4e4;
	padding-left: 34px;
}

#send_window div.files_send_block table.attachments tr td.delete {
	width: 128px;
	background: #aaaaaa;
	text-align: center;
	cursor: pointer;
	color: white;
}

#send_window div.files_send_block table.attachments tr td.delete:hover {
	background: #d94245;
}

#send_window div.files_send_block table.attachments tr input.file_input {
	display:none;
}

#send_window div.files_send_block table.attachments tr.inactive {
	visibility:hidden;
}

#send_window div.files_send_block table.attachments tr.active {
	visibility:visible;
}