#send_window {
	width: 940px;
	padding-top: 17px;
	background: url('/images/strbg.jpg') top center repeat-x;
}

#send_window div.error {
	margin: 25px 0 10px;
	color: red;
	font-size: 90%;
	font-style: italic;
}

#send_window div.main_send_block div.left {
	display: inline-block;
	margin-right: 55px;
	vertical-align: top;
}

#send_window div.main_send_block div.left {
	margin-left: 35px;
}

#send_window div.main_send_block div.left h1 {
	margin: 36px 0 0;
	font-size: 180%;
}

#send_window div.main_send_block div.left label {
	display: block;
	margin-bottom: 10px;
	font-weight: normal;
	font-size: 120%;
}

#send_window div.main_send_block div.left input {
	display: block;
	margin-bottom: 40px;
	width: 277px;
	height: 24px;
	border: 1px #e1e1e1 solid;
	border-right: 3px #e1e1e1 solid;
	padding: 3px;
	background: #fafafa;
}

#send_window div.main_send_block div.left input:last-child {
	margin-bottom: 15px;
}

#send_window div.main_send_block div.left input.good {
	border-right: 3px #5abe4d solid;
}

#send_window div.main_send_block div.left input.wrong {
	border-right: 3px #f72930 solid;
}

#send_window div.main_send_block div.right {
	margin-top: 25px;
	display: inline-block;
	vertical-align: top;
}

#send_window div.main_send_block div.right ul {
	text-align: center;
}

#send_window div.main_send_block div.right table {
	width: 100%;
	border-spacing: 2px 3px;
    border-collapse: separate;
}

#send_window div.main_send_block div.right table td {
	min-width: 134px;
	padding: 4px 8px;
	font-size: 80%;
	border: 1px #c1c1c1 solid;
	text-align: center;
	cursor: pointer;
}

#send_window div.main_send_block div.right td.active, #send_window div.main_send_block div.right td:hover {
	background: #5392f7;
	color: white;
}

#send_window div.main_send_block div.right div.textarea {
	margin-top: 18px;
	width: 540px;
}

#send_window div.main_send_block div.right div.textarea label {
	display: block;
	text-align: center;
	font-weight: normal;
	margin-bottom: 10px;
	font-size: 120%;
	width: 540px;
}

#send_window div.main_send_block div.right div.textarea textarea {
	width: 100%;
	height: 214px;
	resize: none;
	padding: 3px 9px;
	margin-bottom: 15px;
	border: 1px #e1e1e1 solid;
	width: 519px;
	background: #fafafa;
}

#send_window div.main_send_block {
	border-bottom: 2px #d2d2d2 dashed;
}

#send_window div.buttons {
	margin: 18px 0;
	text-align: center;
}

#send_window div.buttons button {
	width: 292px;
	height: 56px;
	border: 0;
	border-radius: 50px;
	color: white;
	font-size: 160%;
}

#send_window div.buttons input {
	display:none;
}

#add_file {
	background: #a8a8a8;
}

#send_send {
	background: #7bc34c;
}

#add_file:hover {
	background: #818181;
}

#send_send:hover {
	background: #72ae29;
}

#send_window div.buttons button:hover {
    -webkit-box-shadow:inset 2px 2px 2px 1px rgba(0,0,0,0.5);
    box-shadow:inset 2px 2px 2px 1px rgba(0,0,0,0.5);
}

#send_window div.files_send_block table.attachments {
	width: 100%;
}

#send_window div.files_send_block table.attachments tr td {
	height: 36px;
	vertical-align: middle;
	background-image: url('/images/shadow.png');
	background-repeat: repeat-x;
	background-position: top center;
}

#send_window div.files_send_block table.attachments tr td.num {
	width: 88px;
	text-align: center;
	background-color: #424242;
	color: white;
}

#send_window div.files_send_block table.attachments tr td.name {
	background-color: #e4e4e4;
	padding-left: 34px;
}

#send_window div.files_send_block table.attachments tr td.delete {
	width: 128px;
	background-color: #aaaaaa;
	text-align: center;
	cursor: pointer;
	color: white;
}

#send_window div.files_send_block table.attachments tr td.delete:hover {
	background-color: #d94245;
}

#send_window div.files_send_block table.attachments tr input.file_input {
	display:none;
}

#send_window div.files_send_block table.attachments tr.inactive {
	visibility:hidden;
}

#send_window div.files_send_block table.attachments tr.active {
	visibility:visible;
}